@use '../abstracts' as *;

body{
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

