@use '../abstracts' as *;

/**
 * General styles
 */
body{
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  text-rendering: optimizeSpeed;
}

/**
 * Links
 */
a{
  color: $link-color;
  &:is(:hover, :focus){
    color: $link-color-hover;
  }
}