@use '../abstracts/' as *;

.grid-auto-fit{
    --auto-fit-min-size: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--auto-fit-min-size), 1fr));
    gap: var(--grid-gap, $grid-gap);
    grid-auto-columns: 1fr;
}