@use '../abstracts' as *;

.site-header{
  background-color: $header-background-color;
  padding-block: $header-padding-block;

  &--inner{
    display: flex;
    gap: $size-4;
    align-items: center;
    @include mq(small){
      justify-content: $header-inner-justify-content;
    }
  }
}