$sizes: (
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.25rem,
  "6": 1.5rem,
  "7": 1.75rem,
  "8": 2rem,
  "9": 2.5rem,
  "10": 3rem,
  "11": 4rem,
  "12": 5rem,
  "13": 6rem,
  "14": 8rem,
  "15": 10rem,
); 
  
// size variables for usage in the _tokens.scss file or the rest of your project

$size-1: map-get($sizes, "1");
$size-2: map-get($sizes, "2");
$size-3: map-get($sizes, "3");
$size-4: map-get($sizes, "4");
$size-5: map-get($sizes, "5");
$size-6: map-get($sizes, "6");
$size-7: map-get($sizes, "7");
$size-8: map-get($sizes, "8");
$size-9: map-get($sizes, "9");
$size-10: map-get($sizes, "10");
$size-11: map-get($sizes, "11");
$size-12: map-get($sizes, "12");
$size-13: map-get($sizes, "13");
$size-14: map-get($sizes, "14");
$size-15: map-get($sizes, "15");


