@use '../abstracts' as *;

/** i am using the wrapper name in case you want to use 
container queries
*/
.wrapper{
  --wrapper-max-width: #{$wrapper-max-width};
  --wrapper-padding: #{$wrapper-padding};

  width: min(100% - var(--wrapper-padding), var(--wrapper-max-width));
  margin-inline: auto;  
}

.wrapper[data-width="wide"]{
  --wrapper-max-width: #{$wrapper-wide-max-width};
}

.wrapper[data-width="narrow"]{
  --wrapper-max-width: #{$wrapper-narrow-max-width};
}

.wrapper[data-width="full"]{
  width: 100%;
}

